:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--light-gray);
    font-size: 16px;
    font-family: "Karla";
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1rem;
    color: var(--bright-yellow);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;

}

.card-container {
    width: 75%;
    box-shadow: 2px 5px 10px rgb(181, 177, 177);
    padding: 1.5em;
}

.community-container {
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.community-header {
    color: var(--cyan);
    font-weight: 700;
}

.community-details {
    line-height: 1.5;
    color: var(--grayish-blue)
}

.card-header {
    color: #fff;
}

.subscription-container {
    background-color: var(--cyan);
    color: #fff;
}

.cost-text {
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 1.8rem;
    color: #fff;
    margin: 0.5em 0;
}

.cost-text-small {
    color: var(--light-gray);
    font-size: 1rem;
    font-weight: 400;
}

.sub-details {
    color: var(--light-gray);
    margin-top: 0.2em;
}

.sign-up-btn {
    width: 100%;
    display: block;
    padding: 1em;
    border: none;
    background-color: var(--bright-yellow);
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.why-us-container {
    background-color: #4ABDBD;
    color: var(--light-gray);
    line-height: 1.5;
    border-radius: 0 0 5px 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
}

@media (min-width: 480px) {
    .container {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        padding: 4em;
    }

    .community-container {
        width: 100%;
        height: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        padding: 1em;
    }

    .subscription-container {
        width: 100%;
        height: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding: 1em;
    }

    .sign-up-btn {
        width: 90%;
    }

    .why-us-container {
        width: 100%;
        height: 100%;
        padding: 1em;
    }
    


}

